{% extends theme('layouts/1-column.html') %}
{% from theme('macros/follow.html') import follow_btn with context %}
{% from theme('macros/breadcrumb.html') import breadcrumb with context %}
{% from theme('macros/paginator.html') import paginator with context %}

{% set is_hidden = (reuses.total or 0) + (datasets.total or 0) <= 0 %}
{% set meta = {
    'title': org.name,
    'description': org.description|mdstrip(60)|forceescape,
    'image': org.logo(external=True),
    'keywords': [_('organization')],
    'robots': 'noindex, nofollow' if is_hidden else '',
} %}


{% set bundle = 'organization' %}

{% block breadcrumb %}
<li><a href="{{ url_for('organizations.list') }}">{{ _('Organizations') }}</a></li>
<li class="active">{{ org.name }}</li>
{% endblock %}

{% block main_content %}
<section class="organization-container">
    <header class="organization-header hagrid">
        {% if org.deleted %}
        <div class="well-grey-100 well mb-sm">
            {{ _('This organization has been deleted. This will be permanent in the next 24 hours') }}
        </div>
        {% endif %}
        <div class="row">
            <div class="col-1">
                <img src="{{org.logo|placeholder('organization') }}" alt="{{ org.title }}" class="mw-100 logo" />
            </div>
            <div class="col-10">
                <div class="row-inline no-wrap align-items-center">
                    {% if org.public_service %}
                    <span class="icon-lg text-align-center mr-sm">{% include theme("svg/certified.svg") %}</span>
                    {% endif %}
                    <h1 class="my-0">
                        {{ org.name }}
                    </h1>
                </div>
                <div class="mt-xs">
                    <ul class="row-inline align-items-center f-bold">
                        <li>
                            {{ follow_btn(org) }}
                        </li>
                        {% if org.metrics.datasets %}
                        <li class="ml-md">
                            <a href="#organization-datasets" class="text-blue-400">
                                {{ org.metrics.datasets or 0 }} {{ _('@@Jeux de données') }}
                            </a>
                        </li>
                        {% endif %}
                        {% if org.metrics.reuses %}
                        <li class="ml-md">
                            <a href="#organization-reuses" class="text-green-400">
                                {{ org.metrics.reuses or 0 }} {{ _('@@Réutilisations') }}
                            </a>
                        </li>
                        {% endif %}
                    </ul>
                </div>
            </div>
        </div>
    </header>
    <section class="organization-content container pt-md pb-xl">
        <div class="row">
            <div class="col-12">{{ org.description|markdown }}</div>
        </div>
    </section>
</section>

{# FIXME: need to Union private reuses and private datasets and change the search-result template to handle those #}
{# TODO: check if paginator works, add an empty if for reuses and datasets ? #}
{# TODO: proper <select> also needed in discussions and footer #}
{# TODO: liens admin manquant ? #}
{# TODO: séparateurs verticaux membres #}

<section class="organization-secondary">
    <section id="organization-datasets" class="organization-datasets bg-grey-50 p-xl">
        <div class="hagrid">
            <div class="row">
                <div class="col-11 offset-1 row-inline justify-between">
                    <h2>{{ _('@@Jeux de données') }}<sup>{{ datasets|length or 0 }}</sup></h2>
                    <div>
                        <select>
                            <option>Trier par</option>
                        </select>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-12">
                    {% for dataset in datasets %}
                    <a href="{{ url_for('datasets.show', dataset=dataset) }}" title="{{ dataset.title }}"
                        class="unstyled w-100">{% include theme('dataset/search-result.html') %}
                    </a>
                    {% endfor %}
                </div>
                {{ paginator(datasets) }}
            </div>
        </div>
    </section>
    <section id="organization-reuses" class="organization-reuses p-xl">
        <div class="container">
            <div>
                <h2>{{ _('@@Réutilisations') }}<sup>{{ reuses|length or 0 }}</sup></h2>
            </div>
            <div>
                <ul>
                    {% for reuse in reuses %}
                    <li class="col-2 col-lg-6 col-sm-12 text-align-center">
                        <a href="{{ url_for('reuses.show', reuse=reuse) }}"
                            title="{{ reuse.title }}">{% include theme('reuse/card.html') %}
                        </a>
                    </li>
                    {% endfor %}
                </ul>
                {{ paginator(reuses) }}
            </div>
        </div>
    </section>
    <section class="organization-members p-xl">
        <div class="container">
            <h2>{{ _('@@Membres') }}<sup>{{ org.members|length or 0 }}</sup></h2>
            <div class="row">
                {# TODO: card this ? link this ? #}
                {% for member in org.members %}
                <a href="" class="unstyled w-100">
                    <div class="col-4 row-inline align-items-center">
                        <img src="https://placekitten.com/50/50/" alt="" />
                        <div class="pl-md">
                            <strong class="w-100">Mathilde Hoang</strong>
                            <div><span class="badge mt-xxs">Admin</span></div>
                        </div>
                    </div>
                </a>
                {% endfor %}
            </div>
        </div>
    </section>
    <section class="organization-actions p-xl">
        <div class="container">
            <div class="row">
                <div class="col-6 col-md-12">
                    <h3>{{ _('@@Informations techniques') }}</h3>
                    <dl class="text-grey-300 fs-sm">
                        <div>
                            <dt class="f-light">ID</dt>
                            <dd class="f-bold m-0">{{ org.id }}</dd>
                        </div>
                        <div class="my-sm">
                            <dt class="f-light">{{ _('@@Date de création') }}</dt>
                            <dd class="f-bold m-0">{{ org.created_at|dateformat(format='long') }}</dd>
                        </div>
                        <div>
                            <dt class="f-light">{{ _('@@Date de mise à jour') }}</dt>
                            <dd class="f-bold m-0">{{ org.last_modified|dateformat(format='long') }}</dd>
                        </div>
                    </dl>
                </div>
                <div class="col-6 col-md-12  my-md-lg">
                    <h3>{{ _('@@Administration') }}</h3>
                    <ul class="nav-list">
                        {% if can_edit %}
                        <li class="my-md">
                            <a class="nav-link"
                                href="{{ url_for('admin.index', path='organization/{id}/'.format(id=org.id)) }}">{{ _('Modifier des informations') }}</a>
                        </li>
                        {% endif %}
                        <li class="my-md">
                            <a href="{{ url_for('organizations.datasets_csv', org=org) }}" class="nav-link">Télécharger
                                la liste des jeux de données en .csv</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </section>
</section>
{% endblock %}
