{% extends theme('faq/base.html') %}

{% block faq_content %}
<h1>Découvrir l’OpenData en tant que citoyen</h1>
<h2>Quelles données sont publiées sur “data.public.lu” ?</h2>
<p>Dans le cadre de leur mission de service publique, de nombreuses administrations collectent et conservent des données de nature très diverse. L’Etat dispose ainsi d’un nombre considérable de données non sensibles telles que:</p>
<ul>
	<li>Des données géo-spatiales dans des domaines différents: points adresse, cadastre, topographie, tourisme, aménagement du territoire, agriculture, archéologie etc.</li>
	<li>Des données environnementales: météorologie, qualité de l'eau, consommation d'énergie, niveaux d'émission, etc.</li>
	<li>Des données de santé publique: surveillance sentinelle de de la grippe, pollens, registre morphologique des tumeurs, rapports d’activité etc.</li>
	<li>Des données routières : trafic, horaires des transports publics, localisation des chantiers, etc.</li>
	<li>Des données statistiques : données démographiques, micro-économiques et macro-économiques.</li>
</ul>
<p>“Data.public.lu” poursuit également l’ambition d’être un outil à la disposition des citoyens pour leur permettre de produire, d’enrichir ou de compléter ces données ou de partager des données d'intérêt public, qu’il s’agisse par exemple de l’inventaire d’une bibliothèque communale, , de la composition nutritionnelle de produits alimentaires ou du bilan environnemental d’une entreprise. </p>
<p>Les données à caractère personnel et celles dont la publication contrevient à la loi ne sont pas acceptées sur la plateforme.</p>
<p>Pour plus d'informations sur les meilleures pratiques en matière de publication, consultez le Guide de publication.</p>
<h2>Quels acteurs contribuent sur “data.public.lu” ?</h2>
<p>Citoyens, services publics ou toute organisation enregistrée sous son identité de personne physique ou de personne morale, peuvent alternativement adopter le rôle de producteur ou de réutilisateur de données. L’inscription et l’utilisation de la plateforme sont libres et gratuites.</p>
<h2>Pourquoi créer un compte sur “data.public.lu” ?</h2>
<p>Créer un compte sur “data.public.lu” est facultatif pour la consultation mais nécessaire pour effectuer des actions sur la plateforme telles que:</p>
<ul>
	<li>Publier un jeu de données</li>
	<li>Publier une réutilisation</li>
	<li>Créer ou rejoindre une organisation</li>
	<li>Créer un signalement ou discuter sur une publication</li>
	<li>Voter pour une publication</li>
</ul>
<p>La création d'un compte utilisateur vous engage à respecter les conditions d'utilisation.</p>
<h3>L’intérêt de publier et partager des données</h3>
<p>Pour un service public : l’ouverture et le partage de données publiques contribuent à rendre des comptes sur le fonctionnement des institutions et à encourager l’innovation. “Data.public.lu” renforce la visibilité des données par leur référencement national et fournit des outils qui facilitent les conversations avec chaque communauté gravitant autour du service public (associations, journalistes, chercheurs, étudiants, citoyens…).</p>
<p>Pour un individu, une entreprise, un chercheur, une association : produire des données d’intérêt public, les publier en Open Data et en partager les interprétations avec le public permet d’enrichir le débat public et de renforcer la liberté d’information.</p>
<p>A travers la publication de ces données – qui représentent un véritable patrimoine national immatériel – sur une plateforme fédératrice,  elles peuvent être mises en valeur par l'ensemble de la collectivité:</p>
<ul>
	<li>Les citoyens y trouvent des informations leur permettant de prendre des décisions en connaissance de cause (localisation des crèches, horaires de bus);</li>
	<li>les chercheurs peuvent directement recourir à des informations fidèles permettant d’étayer et d’approfondir leur travaux académiques et recherches scientifiques;</li>
	<li>les développeurs IT peuvent combiner plusieurs jeux de données (par exemple : géolocalisation des arrêts, hauteurs de trottoirs) afin de développer des services innovants ou des applications mobiles qui peuvent par exemple faciliter l’accès aux transports publiques pour les personnes à mobilité réduite;</li>
	<li>les entreprises peuvent fournir une valeur ajoutée à ces données, et ainsi créer de l'emploi et de la richesse pour la collectivité. Représentant la matière première et un vecteur de croissance de l’économie entière, ces données contribuent au développement de nouvelles start-ups spécialisées dans le traitement de données, la visualisation de données, le géomarketing, le Big Data etc.</li>
	<li>l’Etat, grâce à l’Open Data, peut améliorer son fonctionnement (décloisonnement, meilleur pilotage des politiques publiques, etc.). A travers la publication de certaines données, les acteurs publics encouragent la transparence et la participation des citoyens aux affaires publiques.</li>
</ul>
<h3>L’intérêt de réutiliser, enrichir ou compléter des données:</h3>
<p>Lorsque se crée une série de données continue, temporelle et géographique, des usages inédits et des créations de valeur se produisent. Qu’ils s’agissent d'interprétations (graphique, carte, animation, article de blog) ou d'applications (site Web, logiciel professionnel), les réutilisations exploitent le potentiel de l’ouverture des données (Open Data).</p>
<p>La qualité des données, c’est à dire la longueur temporelle des séries, leur densité et leur couverture géographique, leur fréquence de mise à jour, est la clé principale qui fixe le potentiel des réutilisations.</p>
<h2>Quel statut juridique pour les données publiées sur “data.public.lu” ?</h2>
<p>Le producteur du jeu de données doit préciser le type de licences applicables: Licence ouverte CC0, CC-BY, ou autres licences. Le gouvernement encourage le transfert dans le domaine public (CC0). </p>
<h2>J’ai observé une inexactitude, un commentaire tendancieux, un contenu publicitaire que faire ?</h2>
<p>Vous pouvez signaler sur data.public.lu tout contenu qui vous semble contraire à l’éthique de la plateforme, cliquant sur le bouton signaler et en précisant la raison qui justifie ce signalement : contenu illégal, contenu en dehors du champ de la plateforme, contenu publicitaire... </p>
<p>Le signalement d’un contenu est notifié au producteur et à sa communauté. Le contenu peut être retiré automatiquement si le nombre de signalements est élevé ou si l'objectif manifeste de la publication est d'optimiser le référencement d'un site tiers (SEO) sans apport de données de qualité. L'éditeur de la plateforme se réserve le droit de modérer à tout moment un contenu qui contreviendrait aux règles de publication et/ou à l'éthique de la plateforme. </p>
{% endblock %}
