{% extends theme('faq/base.html') %}

{% block faq_content %}
<h1>Découvrir l’OpenData en tant que développeur</h1>

<p>Cette page contiendra bientôt des informations relatives à:</p>
<ul>
    <li><a href="apidoc">à l’API</a></li>
    <li><a href="#harvesting">le moissonnage des dépôts de données ouvertes</a></li>
    <li><a href="https://github.com/opendatalu/">le code source de la plateforme</a></li>
    <li><a href="#embed">l’intégration de données sur votre site</a></li>
</ul>
{% endblock %}
