{% extends theme('faq/base.html') %}

{% block faq_content %}
<h1>Découvrir l’OpenData en tant que réutilisateur</h1>
<h2>Qu'est ce qu'une réutilisation des données publiques ?</h2>
<p>La directive PSI ainsi que sa transposition en loi nationale luxembourgeoise prévoient la possibilité de réutiliser les informations que les organismes publics recueillent et produisent en vue d’accomplir leur mission de service public, à d’autres fins que celles pour lesquelles elles sont détenues ou élaborées. Si leur obtention occasionne un coût pour l’administration (recherche, traitement automatisé...), celle-ci peut demander le paiement d’une redevance dans les limites prévues par la loi luxembourgeoise.</p>
<h3>L’intérêt de réutiliser des données publiques ouvertes</h3>
<p>La diversité des champs d’application de la politique d’ouverture des données est assez large. En réutilisant des jeux de données publiques, tout le monde peut créer des applications, des services ou des visualisations de données interactives. Ces réutilisations permettent, par exemple, d’améliorer l’action d’un service public ou de résoudre un problème.</p>
<h3>Le format des réutilisations sur « data.public.lu »</h3>
<p>Les réutilisations publiées sur « data.public.lu » peuvent être des fichiers téléchargées directement (cartes, tableaux, graphiques, etc) sur le site web ou des liens qui redirigent le visiteur à voir la réutilisation (vers le site web de start-ups, l’AppStore, GooglePlay, etc).  
</p>
{% endblock %}
