{% extends theme("base.html") %}

{% set meta = {
    'title': 'Crédits',
    'description': "Remerciements",
    'keywords': [
        'crédits',
    ],
} %}

{% block content %}
<section class="content">
  <div class="container">
    <div class="row">
      <h1>Crédits</h1>
      <p><b>data.public.lu</b> a été réalisé et est maintenu par une équipe pluridisciplinaire et interministérielle ...
      <ul>
        <li>L'équipe de <a href="https://twitter.com/DigiLetzebuerg">l’initiative Digital Lëtzebuerg</a>, Anne-Catherine Ries</li>
        <li>Le Centre des Technologies de l'Information de l'Etat:</li>
        <ul>
          <li><a href="https://twitter.com/GillesFeith">Gilles Feith</a>
            <li><a href="https://twitter.com/ddavidthomas">David Thomas</a>, <a href="https://twitter.com/yboland">Yves Boland</a> et <a href="https://twitter.com/huntedpix">Gregory Scheuren</a> de l'équipe <emph>Web &amp; UX Office</emph></li>
            <li>Tom Bohler, Kevin Gebele et Dan Nickels de l'équipe Open Source</li>
            <li>Steve Caligo de l'équipe Sécurité et Audit</li>
            <li>Le Service Information et Presse</li>
            <li>Le Service Médias et Communication, Laure Bourguignon, <a href="https://twitter.com/ceflam">Céline Flammang</a>, Anne-Julie Kommer, Anne-Catherine Ries</li>
            <li>L'équipe du <a href="https://twitter.com/geoportal_lux">service du géoportail</a> et l'Administration du Cadastre et de la Topographie: <a href="https://twitter.com/rg444">Romain Gales</a>, <a href="https://twitter.com/pianofranz">Francis Kaell</a>, <a href="https://twitter.com/jaykayone">Jeff Konnen</a>, <a href="https://twitter.com/petzlux">Patrick Weber</a></li>
            <li>L'équipe du portail Open Data, <a href="https://twitter.com/grischard">Guillaume Rischard</a>
        </ul>
      </p>
      <p>L'équipe du projet remercie aussi <a href="https://twitter.com/Xavier_Bettel">Xavier Bettel</a>, <a href="https://twitter.com/dan_kersch">Dan Kersch</a>, <a href="https://twitter.com/fbausch">François Bausch</a>, ainsi que Remy Duhr, <a href="https://twitter.com/kilik82">Gilles Caspar</a>, <a href="https://twitter.com/andreadonno">Andrea Donno</a> et <a href="https://twitter.com/ODIHQ">l'Open Data Initiative</a>.            
      </p>
      <p>Le logiciel udata utilisé pour ce site a été créée par l'équipe <a href="https://www.data.gouv.fr/fr/credits/">du portail Français data.gouv.fr:</a> du projet Etalab</p>
      <ul><li> Henri Verdier, Laure Lucchesi, Romain Talès, Alexandre Quintard-Kaigre, Suzanne Vergnolle, Romain Lacombe, Charles Ruelle, Halima Benramdane de la mission Etalab</li>
        <li> L'équipe projet du nouveau site <a rel="nofollow" class="external text" href="https://twitter.com/ppezziardi">Pierre Pezziardi</a>, Emmanuel Raviart, <a rel="nofollow" class="external text" href="https://twitter.com/noirbizarre">Axel Haustant</a> </li>
        <li> <a rel="nofollow" class="external text" href="https://twitter.com/nodesign">Jean-Louis Frechin</a> et <a rel="nofollow" class="external text" href="https://twitter.com/areox">Angelo Chiacchio</a> de l'agence <a rel="nofollow" class="external text" href="http://nodesign.net">NoDesign</a> pour le design ergonomique et graphique du site</li>
        <li> La <a rel="nofollow" class="external text" href="http://www.modernisation.gouv.fr/le-sgmap/organisation/la-disic">DISIC</a> : Jacques Marzin, Mathieu Jeandron, Laurent Voillot, Antoine Cao </li>
        <li> Le <a rel="nofollow" class="external text" href="http://www.modernisation.gouv.fr/">SGMAP</a> et tous les modernisateurs de l'action publique </li>
        <li> Le Réseau des Correspondants Open Data d'Etalab dans les administrations </li>
        <li> Les étudiants de l'<a rel="nofollow" class="external text" href="http://www.hetic.net">HETIC</a>, Gilles Bertaux d'Orgeville, Rémy Fayolle, Vincent Garreau et Robin Lambert, qui ont réalisé la maquette originelle du site.</li>
        <li> Les étudiants de l'<a rel="nofollow" class="external text" href="http://www.epita.fr">EPITA</a> : responsable de la rubrique activiz, Hugo Brac, Quentin Pré et Aymeric Derbois</li>
        <li> <a rel="nofollow" class="external text" href="http://www.donneesouvertes.info">Simon Chignard</a>, expert et datahunter de données sur l'égalité Femmes-Hommes</li></ul>
      <p><br />
      L'équipe Etalab remercie aussi :
      </p>
      <ul><li> Les nombreux experts mobilisés dans le processus <a rel="nofollow" class="external text" href="http://www.etalab.gouv.fr/lespremiersenseignementsdeloperationcodesign">codesign</a>, à travers notamment la FING, Cap Digital, GovJamParis, Libertic, Futur en Seine, la Cantine numérique Rennaise, l'OKFN France, l'open data week à Marseille, les DataTuesdays</li>
        <li> Le <a class="external text" href="https://www.etalab.gouv.fr/reseau-dexperts">réseau d'experts Etalab</a></li>
        <li> L'<a rel="nofollow" class="external text" href="http://okfn.org/">Open Knowledge Foundation Network</a>, animateur de la communauté Open Source <a rel="nofollow" class="external text" href="http://ckan.org/">CKAN</a>, une des fondations du site</li></ul>
      <p><br />
      Et bien sûr toute la communauté Open Data qui contribue à enrichir ce site et continuera de le faire évoluer !
      </p>
    </div>
  </div>
</section>
{% endblock %}
