{% extends theme("base.html") %}

{% set meta = {
    'title': page.title or '',
    'description': page.description or '',
    'keywords': page.keywords or [],
} %}

{% block content %}
<section class="content">
    <div class="container">
        <div class="row">
            <div class="col-xs-12">
                {{ page.content|markdown }}
            </div>
            {% if datasets %}
            <h2>Jeux de données</h2>
            <div class="row">
                <ul class="card-list">
                    {% for dataset in datasets %}
                    <li class="col-md-4 col-sm-6">
                    {% include theme('dataset/card.html') %}
                    </li>
                    {% endfor %}
                </ul>
            </div>
            {% endif %}
            {% if reuses %}
            <h2>Réutilisations</h2>
            <div class="row">
                <ul class="card-list">
                    {% for reuse in reuses %}
                    <li class="col-md-4 col-sm-6">
                    {% include theme('reuse/card.html') %}
                    </li>
                    {% endfor %}
                </ul>
            </div>
            {% endif %}
        </div>
    </div>
</section>
{% endblock %}
