{% extends theme("base.html") %}

{% set meta = {
    'title': _('Terms'),
    'description': _('Terms'),
    'keywords': [
        'terms', _('terms'),
    ],
} %}

{% block content %}
<section class="content">
    <div class="container">
        <div class="page-header">
            <h1>Conditions Générales d’Utilisation de la plateforme</h1>
        </div>
        <div class="row">
            <p>Toute personne faisant usage des informations, documents, produits, logiciels et divers services (collectivement les "Services") proposés par ce site est réputée avoir pris connaissance et accepté l'intégralité des termes et mentions des présentes conditions générales d'utilisation.
            </p>
            <h2>Obligations de l'usager </h2>
	    <p>L’accès à ce site se fait par Internet. L’usager déclare en connaître les risques et les accepter. Il doit se prémunir contre les effets de la piraterie informatique en adoptant une configuration informatique adaptée et sécurisée. </p>
	    <p>
	   L'État du Grand-Duché de Luxembourg ne saurait être tenu pour responsable d'un quelconque dommage que l’usager subirait directement ou indirectement en relation avec sa navigation sur ce site et l’utilisation de ses services ainsi que les sites Internet auxquels il renvoie.
	    </p>
	    <h2>Gestion des cookies</h2>
	    <p>Ce site peut utiliser des cookies clients, des petits fichiers texte permettant d'analyser les informations relatives à la navigation de l'utilisateur (fréquences des visites, durée des visites, pages consultées, préférences linguistiques, etc...). Ils sont déposés par ce site dans un répertoire prévu à cet effet sur l'ordinateur de l'utilisateur. Ils contiennent notamment le nom du serveur qui l'a écrit, un identifiant sous forme de numéro unique et une date d'expiration. L'identifiant unique permet à ce site de reconnaître l'ordinateur de l'utilisateur à chaque visite.</p>
	    <p>L'utilisateur peut lui-même décider si le serveur web de ce site est autorisé ou non à mémoriser des cookies sur son ordinateur. Il a à tout moment le choix de régler les options de son navigateur de sorte que les cookies ne soient acceptés et mémorisés. Par ailleurs, il peut à tout moment effacer, via le navigateur, des cookies déjà mémorisés.</p>
	    <p>L'utilisation de certaines fonctionnalités de ce site peut être limitée ou désactivée si l'utilisateur refuse les cookies du site. Il est dès lors recommandé à l'utilisateur de régler son navigateur de manière à ce que les cookies du site soient acceptés.</p>
	    <h2>Modification du site</h2>
	    <p>L’État du Grand-Duché de Luxembourg se réserve la liberté de faire évoluer, de modifier ou de suspendre, à tout moment et sans préavis, ce site et ces conditions générales pour des raisons de maintenance, de mise à jour, d'évolution de la législation, ou pour tout autre motif jugé nécessaire. L’État du Grand-Duché de Luxembourg pourra notamment à tout moment retirer, ajouter, compléter ou préciser tout ou partie des informations et Services contenus ou proposés sur le site. Aucune responsabilité pour un quelconque dommage direct ou indirect en relation avec de telles modifications ne pourra être retenue à l’encontre de l’État du Grand-Duché de Luxembourg.</p>
        <p>Il appartient à l’usager de s’informer des conditions générales d'utilisation de ce site, dont seule la version actualisée accessible en ligne est réputée en vigueur.</p>
	    <h2>Limitations de responsabilité</h2>
	    <p>L’État du Grand-Duché de Luxembourg assurera au mieux une disponibilité maximale de ce site.</p>
	    <p>L’État du Grand-Duché de Luxembourg assurera au mieux la sécurité du système informatique. Toutefois, sa responsabilité ne saurait être retenue en cas d’attaque du système informatique ou d’indisponibilité momentanée ou totale du site.</p>
	    <p>L’État du Grand-Duché de Luxembourg assurera au mieux l’exactitude des informations ou Services contenus sur ce site. Cependant, sa responsabilité ne saurait être retenue notamment en cas d’omission de mise à jour d’une information ou d’un formulaire, en cas d’erreurs de manipulation du système ou d’encodage, d’inexactitudes, de lacunes dans les informations fournies ou d’éventuelles erreurs, inexactitudes ou omissions. En effet, l'objectif est de diffuser des informations exactes et à jour provenant de diverses sources, mais l’État du Grand-Duché de Luxembourg ne saurait toutefois éviter tout risque d'erreur matérielle. Aucune des informations publiées sur ce site n'ont une vocation d'exhaustivité ou constituent un engagement de la part de l'État luxembourgeois.</p>
	    <h2>Liens hypertextes et sites liés</h2>
	    <p>Pour la convenance des usagers, ce site peut contenir des liens vers d’autres sites qui peuvent leur être utiles ou qui peuvent les intéresser. L’État du Grand-Duché de Luxembourg et plus particulièrement les Ministères responsables de ce site ne contrôlent pas systématiquement le contenu de ces sites. Ils ne sauraient dès lors être tenus responsables des contenus présentés sur ces sites Internet, que ce soit au niveau de leur légalité ou de l'exactitude des informations qui s'y trouvent.</p>
	    <h2>Loi applicable</h2>
	    <p>Tout litige relatif à l'utilisation de ce site et ses Services sera soumis à la loi luxembourgeoise et sera de la compétence exclusive des juridictions du Grand-Duché de Luxembourg.</p>
	    <h2>Protection des données</h2>
	    <p>Les données à caractère personnel communiquées par l’usager sont traitées en conformité avec la loi modifiée du 2 août 2002 relative à la protection des personnes à l'égard du traitement des données à caractère personnel.</p>
	    <p>Les données à caractère personnel recueillies sur ce site ne peuvent parvenir que de l'enregistrement volontaire de vos données à caractère personnel, par exemple en créant un compte, en souscrivant à une newsletter ou en utilisant le formulaire de contact. Conformément à la loi précitée sur la protection des données, l’usager a le droit d'accéder, de modifier ou de s’opposer à tout traitement de données qui le concerne. Pour ce faire, il est invité à faire une demande au Centre des technologies de l'information de l'État par courrier à l'adresse suivante :</p>
	    <p>Centre des technologies de l'information de l'État
	    </br>1 rue Mercier
	    </br>B.P. 1111
	    </br>1011 Luxembourg
	    </p>
	    <h2>Open Data et propriété intellectuelle (Copyright)</h2>
	    <p>Ce site, tous ses éléments ainsi que les informations et Services sont publiés par l’État du Grand-Duché de Luxembourg, sauf indication contraire, sans restriction, sous les termes du <a href="http://creativecommons.org/publicdomain/zero/1.0/deed.fr">Transfert universel dans le Domaine Public Creative Commons CC0 1.0.</a> Toutefois, si vous réutilisez les informations publiées sur ce site, l’État du Grand-Duché de Luxembourg vous prie de suivre son <a href="{{ url_for('gouvfr.usage') }}">Guide d’utilisation des données.</a></p>
        </div>
    </div>
</section>
{% endblock %}
