{% extends theme("base.html") %}

{% set meta = {
    'title': 'Guide d\'utilisation des données',
    'description': "",
    'keywords': [
        'utilisation',
    ],
} %}

{% block content %}
<section class="content">
    <div class="container">
        <div class="row">
            <h1>Guide d'utilisation des données</h1>
	    <p>Ces directives d’utilisation sont basées sur la bonne volonté. Elles ne représentent pas un contrat légal, mais l’État du Grand-Duché de Luxembourg vous demande de les suivre si vous utilisez les données de ce site.</p>
	    <h2>Citez les sources quand il est juste de les citer.</h2>
	    <p>Assurez-vous que les autres sont conscients de ces directives d’utilisation en gardant intacts les liens au transfert dans le Domaine Public Creative Commons Zéro et les directives d’utilisation.</p>
	    <p>Si, pour des raisons techniques ou autres, vous ne pouvez pas inclure tous les liens vers toutes les sources de données et les informations légales et directives d’utilisation directement avec les données, vous devriez envisager de les inclure séparément, par exemple dans un document distinct qui est distribué avec les données ou jeux de données.</p>
	    <p>Si, pour des raisons techniques ou autres, vous ne pouvez pas inclure tous les liens vers toutes les sources de données et les informations légales et directives d’utilisation, vous pouvez envisager de lier uniquement à resource sur data.public.lu, où toutes les sources disponibles, informations légales et directives d’utilisation peuvent être trouvées, y compris dans des formats exploitables par machine.</p>
	    <h2>Mentionnez vos modifications des données et rendez vos données modifiées disponibles sous les mêmes conditions.</h2>
	    <p>Assurez-vous que vous n’utilisez pas les données d’une manière qui suggère un statut officiel de l’État du Grand-Duché de Luxembourg. Veillez à ne pas induire les autres en erreur ou à donner une image inexacte des données ou de leurs sources.</p>
	    <p>Lorsque vous transformez, traduisez ou modifiez le données, rendez évident que vous avez modifié les données. Si vous enrichissez ou modifiez les données, envisagez de publier les données dérivées de préférence par l’intermédiaire du transfert dans le Domaine Public Creative Commons Zéro.</p>
	    <h2>Données dynamiques</h2>
	    <p>Lorsque vous travaillez avec des données obtenues de data.public.lu, soyez conscient que ces données ne sont peut-être pas statiques. Elles changent parfois quotidiennement. Les contributeurs du portails mettent continuellement à jour leurs données, afin de corriger les erreurs et d’inclure des informations nouvelles et supplémentaires. Par conséquent, la meilleure façon d’utiliser les données publiées sur le portail est par une API si elle est disponible, ou par un lien vers les données spécifiques. Si, pour des raisons techniques ou autres, vous ne pouvez pas faire cela, vous pouvez fournir un lien vers la resource sur data.public.lu, ou implémenter un mécanisme de mise à jour.</p>
        </div>
    </div>
</section>
{% endblock %}
