.card-link:hover {
    text-decoration: none;
}

.inventory-card {
    padding-top: 0.75rem;
    padding-bottom: 0.75rem;

    &.green {
        background-color: #63DA85;
    }

    &.blue {
        background-color: #71DDD8;
    }

    &.violet {
        background-color: #5A7CCE;
    }
}

.inventory-text {
    padding-left: 1.75rem;
    color: white;
    font-weight: bold;
}
