<nav class="navbar navbar-static-top navbar-subnav">

    <div class="container banner">

        <p class="text-center text-white">
          Les portails 
          <a 
            class="underline"
            href="/" 
            target="_blank" 
          >
            data.gouv.fr
          </a>
          ont besoin de vous !
          Prenez quelques minutes pour répondre 
          à notre enquête usagers.

          <a 
            role="button" 
            class="btn btn-light no-underline"
            href="/"
            target="_blank"
          >
            Participez à l'enquête
          </a>

        </p>
      
    </div>
</nav>
